/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#main {
    width: 100%;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-icon {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-icon ion-icon {
    font-size: 1.5em;
}

.sidebar-icon p {
    margin: 0;
}

#topbar {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 50%;
}

#search-wrapper {
    display: flex;
    height: 50%;
}

#search-input {
    width: 300px;
}

#topbar-icons {
    display: flex;
}

.topbar-icon {
    font-size: 2em;
    padding: 0 0.3em;
}

#mic-icon ion-icon {
    font-size: 1.7em;
    margin: 0 0.5em;
}

#search-btn {
    padding: 0 0.8em;
    font-size: 1.3em;
    display: flex;
    align-items: center;
}

.thumbnail-item {
    max-width: 28%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 20px;
}

.thumbnail-item img {
    width: 100%;
}

#content {
    padding: 18px 40px 18px 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.heading {
    margin-top: 0.75em;
    align-items: center;
    display: flex;
}

.logo-container {
    max-width: 22%;
    padding-right: 12px;    
}

.title {
    font-weight: 700;
}

.description {
    font-size: 0.8em;
}

